{% extends 'base.html' %} {% load crispy_forms_tags %} {% load static %} 
{% block content %}
<legend style="margin: 10px; padding: 5px; color: black">
  Add Farmer
  <a href="{% url 'farmers' %}">
    <button type="submit" class="btn btn-success" style="float: right">
      <i class="fas fa-list"> Farmers List </i>
    </button></a
  >
</legend>
<hr />
<form method="POST" style="margin: 10px; padding: 5px">
  {% csrf_token %}
  <div class="row">
    <div class="col-6">{{ form.first_name|as_crispy_field}}</div>
    <div class="col-6">{{ form.second_name|as_crispy_field}}</div>
    <div class="col-6">{{ form.age|as_crispy_field }}</div>
    <div class="col-6">{{ form.gender|as_crispy_field }}</div>
    <div class="col-6">{{ form.email|as_crispy_field}}</div>
    <div class="col-6">{{ form.adress|as_crispy_field}}</div>
    <div class="col-6">{{ form.phone|as_crispy_field}}</div>
    <div class="col-6">{{ form.centre|as_crispy_field}}</div>
  </div>
  <button type="submit" class="btn btn-success" style="float:right; margin-right: 40px;">
    Save
  </button>
  </div>


</form>
<br />
{% endblock %}
